<!-- hardcoded table without actual input from backend-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID:</th>
      <th scope="col">Origin</th>
      <th scope="col">Destination</th>
      <th scope="col">OriginDate</th>
      <th scope="col">OriginTime</th>
      <th scope="col">DestinationDate</th>
      <th scope="col">DestinationTime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
      <td>Value</td>
    </tr>
  </tbody>
</table>

<!-- table with data input from backend -->

<!-- <h1>Data table</h1>
<hr>

<table>
  <tr>
    <th *ngFor = "let column of headers">
      {{column}}
    </th>
  </tr>

  <tr *ngFor = "let object of data">
    <td * ngFor = "let column of headers">
      {{object[column]}}
    </td>
  </tr>
</table> -->