<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card mb-3">
          <div class="card-body">
            </div>
            <div class="container">
              <p class="h4">Generate most searched origins and destinations graphs</p>
              <div class="row">
                <div class="col-sm">
                  <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping">Start date</span>
                    </div>
                    <input type="date" class="form-control" placeholder="startDate" id="startDate" aria-label="startDate" aria-describedby="addon-wrapping">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping">End date</span>
                    </div>
                    <input type="date" class="form-control" placeholder="startDate" id="endDate" aria-label="startDate" aria-describedby="addon-wrapping">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Type of search</label>
                    </div>
                    <select class="custom-select" id="typeSearch">
                      <option selected>Select a type of search</option>
                      <option value="1">Request</option>
                      <option value="2">Travel</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping">Number of rows</span>
                    </div>
                    <input type="number" class="form-control" id="numberRows" placeholder="number of rows" aria-label="numberRows" aria-describedby="addon-wrapping">
                  </div>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-primary" id="generate">Generate graph</button>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card mb-3">
            <div class="card-body">
              </div>
              <div class="graph">
                <canvas id="destChart" width="900" height="400"></canvas>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
            </div>
            <div class="graph">
                <canvas id="origChart" width="900" height="400"></canvas>
            </div>
          </div>
      </div>
    </div>
  </div>
