 
  <div class="grid">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4" routerLink="/graph" routerLinkActive="active" >
      <div class="card">
        <img src="assets/graph.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Most popular origins and destinations</h5>
          <p class="card-text">These charts will display the most searched for destinations and origins</p>
        </div>
      </div>
    </div>
    <div class="col mb-4" routerLink="/list" routerLinkActive="active" >
      <div class="card">
        <img src="assets/chartjs-logo.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">A table with some variables</h5>
          <p class="card-text">Some other information about this table</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" routerLink="/table-pairs" routerLinkActive="active">
        <img src="assets/chartjs-logo.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Table with most common Origin-Destination pairs</h5>
          <p class="card-text">Some other information about this graph</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card"routerLink="/number-searches" routerLinkActive="active">
        <img src="assets/chartjs-logo.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Number of search requests</h5>
          <p class="card-text">Some more information about this graph</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card"routerLink="/srchHours" routerLinkActive="active">
        <img src="assets/chartjs-logo.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Radial plot</h5>
          <p class="card-text">Some more information about this graph</p>
        </div>
      </div>
    </div>
  </div>
</div>